.header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#1F2937;

    padding:20px 30px;

    border-radius:15px;

    color:white;

    margin-bottom:25px;
}

.profile{

    background:#2563EB;

    padding:12px 18px;

    border-radius:30px;

    color:white;

    font-weight:bold;

}